<!DOCTYPE html>
<html>
<head>
    <title>Upload CSV file</title>
</head>
<body>
    <h1>Upload a CSV file</h1>
    <form method="post" action="{{ url_for('upload') }}" enctype="multipart/form-data">
        <input type="file" name="file1" required>
        <input type="submit" value="Upload1">
    </form>

    <br>

    <h1>Upload another CSV file</h1>
    <form method="post" action="{{ url_for('upload') }}" enctype="multipart/form-data">
        <input type="file" name="file2" required>
        <input type="submit" value="Upload2">
    </form>
</body>
</html>
