<!DOCTYPE html>
<html>
<head>
    <title>CSV Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .table-responsive {
            overflow-x: auto;
            max-width: 100%;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

    <!-- display the chart -->
    <div class="container">
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <canvas id="site-chart" width="200" height="200"></canvas>
              </div>
              <div class="col-sm">
                One of three columns
              </div>
            </div>
          </div>
    </div>

    <script>
        var ctx = document.getElementById('site-chart').getContext('2d');
        const chartData = {{ chart_data|safe }};
        const colors = ['#f44336', '#e91e63', '#9c27b0', '#673ab7', '#3f51b5', '#2196f3', '#03a9f4', '#00bcd4', '#009688', '#4caf50', '#8bc34a', '#cddc39', '#ffeb3b', '#ffc107', '#ff9800', '#ff5722'];
        var backgroundColors = [];
        for (var i = 0; i < chartData.labels.length; i++) {
            var colorIndex = i % colors.length;
            backgroundColors.push(colors[colorIndex]);
        }
        var chart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: chartData.labels,
                datasets: [{
                    label: 'Site Counts',
                    data: chartData.data,
                    backgroundColor: backgroundColors,
                    borderColor: 'white',
                    borderWidth: 1
                }]
            },
            options: {
                rotation: -0.5 * Math.PI,
                animation: {
                    animateScale: true,
                    animateRotate: true
                }
            }
        });
    </script>
    
    <div class="container-fluid">
        <h1>CSV Data</h1>
        <div class="table-responsive">
            {{ table|safe }}
        </div>
    </div>

</body>
</html>
