<!DOCTYPE html>
<html>
<head>
    <title>CSV Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .table-responsive {
            overflow-x: auto;
            max-width: 100%;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

    <div class="container-fluid">
        <h1>CSV Data</h1>
        <input type="text" id="search-input" placeholder="Search...">
        <div class="table-responsive">
            {{ table|safe }}
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/livesearch.js') }}"></script>
</body>
</html>
